<div class="navbar navbar-inverse">
    <div class="navbar-header">
        <a class="navbar-brand" href="/">elkServer</a>
    </div>
    <div class="navbar-collapse collapse navbar-responsive-collapse">
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/">Home</a></li>
            <li><a href="/tv">TV Shows</a></li>
            <form class="navbar-form navbar-left" id="search">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">
                            <span><i class="fa fa-search"></i></span>
                        </button>
                    </span>
                </div>
            </form>
        </ul>
    </div>
</div>
<div class="container">
    <router-outlet></router-outlet>
</div>
