<div class="modal" (click)="this.delete.emit('destroy')">
    <div class="modal-content" (click)="$event.stopPropagation()">
        <div class="modal-header">
            <span class="close" (click)="this.delete.emit('destroy')">&times;</span>
            <h3>Upload</h3>
        </div>
        <div class="modal-body">
            <input type="file" id="fileElem" multiple accept="video/*" style="display:none" (change)="handleFiles($event)">
            <label for="fileElem">Click here to upload</label>
            <hr>
            <div class="file-wrapper">
                <div *ngFor="let file of uploadedFiles">
                    <dt>{{file.name}}: </dt>
                    <div class="progress">
                        <div [ngStyle]="{'width': status + '%'}" class="progress-bar" role="progressbar" [attr.aria-valuenow]="status" aria-valuemin="0" aria-valuemax="100"> {{status}}% </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>