<div class="modal" (click)="this.delete.emit('destroy')">
    <div class="modal-content" (click)="$event.stopPropagation()">
        <div class="modal-header">
            <span class="close" (click)="this.delete.emit('destroy')">&times;</span>
            <h3>Upload</h3>
        </div>
        <div class="modal-body">
            <div class="input-group">
                <span class="input-group-addon" id="upload-addon1">Movie title</span>
                <input [(ngModel)]="selectedMovie.title" [disabled]="!file" type="text" class="form-control" id="movie-title" aria-describedby="upload-addon1" placeholder="Enter a title..." />
            </div>
            <div *ngIf="(choices.length > 0)" id="auto-complete-container">
                <ul>
                    <li (click)="selectMovie(choice)" class="autocomplete-choice" *ngFor="let choice of choices">
                        <p>{{choice.title}} ({{choice.date | date:'y'}})</p>
                    </li>
                </ul>
            </div>
            <hr>
            <div class="file-wrapper" *ngIf="file">
                <dt>{{file.name}}: </dt>
                <div class="progress">
                    <div [ngStyle]="{'width': status + '%'}" class="progress-bar" role="progressbar" [attr.aria-valuenow]="status" aria-valuemin="0" aria-valuemax="100"> {{status}}% </div>
                </div>
                <hr />
            </div>
            <input type="file" id="fileElem" accept="video/*" style="display:none" (change)="handleFiles($event)" />
            <label class="button" for="fileElem">Choose a Movie</label>
            <button class="button" [disabled]="!file" (click)="upload()">Submit</button>
        </div>
    </div>
</div>