<div class="row">
    <div class="image-container col-md-4">
        <img class="poster-big" src={{movie.posterUrl}}>
    </div>
    <div class="col-md-8">
        <h2>{{movie.title}}</h2>
        <p>{{movie.director}}</p>
        <p>{{movie.genre.join(', ')}}</p>
        <p>{{movie.plot}}</p>
        <hr />
        <a (click)="playMovie()" class="button btn-play">Play</a>
        <a href={{movie.path}} class="button btn-download" target="_blank">Download</a>
    </div>
</div>
<br />
<div class="row">
    <div class="col-sm-12">
        <h4>Related Movies:</h4>
    </div>
    <div class="col-sm-3" *ngFor="let relatedMovie of relatedMovies">
        <reelr-movie [movie]="relatedMovie"></reelr-movie>
    </div>
</div>
