hr {
  width: 100%;
  height: 0.5px;
  color: #FFF;
}

.image-container {
  position: relative;
}

.poster-big {
  height: 280px;
  margin-top: 15px;
  display: block;
}

.play {
  display: inline;
}

.download {
  display: inline;
  margin-left: 15px;
}
