hr {
  width: 100%;
  height: 0.5px;
  color: #FFF;
}

.poster-big {
  height: 280px;
  margin-top: 15px;
  display: block;
}

.preview {
  height: 310px;
  margin-top: 280px;
  background-color: #303030;
}

.info-container {
  display: block;
  margin-left: 5%;
  margin-right: 5%;
  width: 50%;
}

.poster-container {
  float: right;
}

.play {
  display: inline;
}

.download {
  display: inline;
  margin-left: 3%;
}
